# Project Dataset Details
### Team 88: Names


### Leaving questions here for now:
## Questions:
- How many data sources are you using? Where are you getting the data from? Is it publicly available? Who provides the data? What challenges/biases might be present based on your answers? ***Refer to scoping document; maybe add a little more about bias***
- How large are your data sets? ***Scoping document data section*** Do you foresee any hardware restrictions in analyzing your data? Will you need to use creative methods to handle your data (working in smaller batches, outsourcing computing etc.) -- usually a problem if 4 GB or bigger 
- What variables do you have in your data? What data types do you have? ***Scoping document data section*** How will you manage them? Will you have to change any parameters?
- How complete is your data? How will you be addressing NAs?
- Do you need more data at this point?
- What keys exist for record linkaging if you need to do so in the future? ***See data tracker that Isa made***
> Looking for “extensible” variables, e.g. zip code, which can be matched to other datasets and lead to interesting questions and opportunities for expansion
- What are the most interesting data points?
> Look at head/tail, start graphing, what stands out??
- Are there any data points that you don't have yet that you would like or need for your analysis?
- Are there any additional steps required in your data collection process right now?
> More data? Contact dataset procurers to get clarity?

In [4]:
#modules
import pandas as pd
import numpy as np

### [California Wildfire Incidents](https://www.kaggle.com/ananthu017/california-wildfire-incidents-20132020) Dataset: 
The dataset records wildfire incidents in California in 2013–2019. The strength of this dataset is the amount of data and the length of time that it spans.

In [5]:
df_fires = pd.read_csv('data/California_Fire_Incidents.csv')
df_fires.head(3)

,AcresBurned,Active,AdminUnit,AirTankers,ArchiveYear,CalFireIncident,CanonicalUrl,ConditionStatement,ControlStatement,Counties,...,SearchKeywords,Started,Status,StructuresDamaged,StructuresDestroyed,StructuresEvacuated,StructuresThreatened,UniqueId,Updated,WaterTenders
0,257314.0,False,Stanislaus National Forest/Yosemite National Park,NaN,2013,True,/incidents/2013/8/17/rim-fire/,NaN,NaN,Tuolumne,...,"Rim Fire, Stanislaus National Forest, Yosemite...",2013-08-17T15:25:00Z,Finalized,NaN,NaN,NaN,NaN,5fb18d4d-213f-4d83-a179-daaf11939e78,2013-09-06T18:30:00Z,NaN
1,30274.0,False,USFS Angeles National Forest/Los Angeles Count...,NaN,2013,True,/incidents/2013/5/30/powerhouse-fire/,NaN,NaN,Los Angeles,...,"Powerhouse Fire, May 2013, June 2013, Angeles ...",2013-05-30T15:28:00Z,Finalized,NaN,NaN,NaN,NaN,bf37805e-1cc2-4208-9972-753e47874c87,2013-06-08T18:30:00Z,NaN
2,27531.0,False,CAL FIRE Riverside Unit / San Bernardino Natio...,NaN,2013,True,/incidents/2013/7/15/mountain-fire/,NaN,NaN,Riverside,...,"Mountain Fire, July 2013, Highway 243, Highway...",2013-07-15T13:43:00Z,Finalized,NaN,NaN,NaN,NaN,a3149fec-4d48-427c-8b2c-59e8b79d59db,2013-07-30T18:00:00Z,NaN

In [6]:
df_fires.describe()

,AcresBurned,AirTankers,ArchiveYear,CrewsInvolved,Dozers,Engines,Fatalities,Helicopters,Injuries,Latitude,Longitude,PercentContained,PersonnelInvolved,StructuresDamaged,StructuresDestroyed,StructuresEvacuated,StructuresThreatened,WaterTenders
count,1633.000000,28.000000,1636.000000,171.000000,123.000000,191.000000,21.000000,84.000000,120.000000,1636.000000,1636.000000,1633.0,204.000000,67.000000,175.000000,0.0,30.000000,146.000000
mean,4589.443968,4.071429,2016.608802,11.561404,7.585366,23.565445,8.619048,5.357143,3.500000,37.203975,-108.082642,100.0,328.553922,67.970149,271.788571,NaN,522.800000,7.815068
std,27266.337722,6.399818,1.845340,14.455633,14.028616,41.004424,18.529642,7.265437,3.806231,135.401380,37.006927,0.0,521.138789,155.771975,1557.255963,NaN,739.586856,12.719251
min,0.000000,0.000000,2013.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,-120.258000,-124.196290,100.0,0.000000,0.000000,0.000000,NaN,0.000000,1.000000
25%,35.000000,2.000000,2015.000000,2.500000,1.000000,5.000000,1.000000,1.000000,1.000000,34.165890,-121.768358,100.0,55.000000,1.000000,1.000000,NaN,0.000000,2.000000
50%,100.000000,2.000000,2017.000000,6.000000,2.000000,11.000000,3.000000,2.000000,3.000000,37.104065,-120.461560,100.0,151.500000,6.000000,7.000000,NaN,45.000000,4.000000
75%,422.000000,4.000000,2018.000000,13.500000,5.000000,24.000000,6.000000,5.000000,4.000000,39.086808,-117.474072,100.0,350.000000,49.500000,41.500000,NaN,1043.750000,6.000000
max,410203.000000,27.000000,2019.000000,82.000000,76.000000,256.000000,85.000000,29.000000,26.000000,5487.000000,118.908200,100.0,3100.000000,783.000000,18804.000000,NaN,2600.000000,79.000000

In [7]:
df_fires.columns

Index(['AcresBurned', 'Active', 'AdminUnit', 'AirTankers', 'ArchiveYear',
       'CalFireIncident', 'CanonicalUrl', 'ConditionStatement',
       'ControlStatement', 'Counties', 'CountyIds', 'CrewsInvolved', 'Dozers',
       'Engines', 'Extinguished', 'Fatalities', 'Featured', 'Final',
       'FuelType', 'Helicopters', 'Injuries', 'Latitude', 'Location',
       'Longitude', 'MajorIncident', 'Name', 'PercentContained',
       'PersonnelInvolved', 'Public', 'SearchDescription', 'SearchKeywords',
       'Started', 'Status', 'StructuresDamaged', 'StructuresDestroyed',
       'StructuresEvacuated', 'StructuresThreatened', 'UniqueId', 'Updated',
       'WaterTenders'],
      dtype='object')

### Data Structure and Variables
From work done for the scoping document, we know the following about the main variables of interest. In general, the dataset is explored below to review the structure and shape.

**Relevant fields include: ** 
- Counties (string): counties in which the fire was active
- County ID (int): integer to represent county where fire was active
- Started (datetime): date the fire started
- Updated (datetime): date the fire incident was last updated
- Extinguished (datetime): date the fire was extinguished
- Latitude and Longitude (float)

In [8]:
size = df_fires.shape
print('The size of the dataset is {} rows and {} columns'.format(size[0], size[1]))

The size of the dataset is 1636 rows and 40 columns

In [9]:
#Checking missing values and data types
null_values = [len(df_fires) -  df_fires[col].count() for col in list(df_fires.columns)]
data_types = [str(item) for item in list(df_fires.dtypes)]
df_fires_null = pd.DataFrame([list(df_fires.columns), null_values, data_types]).transpose()

In [10]:
print('Missing Values by Columns:')
df_fires_null.rename(columns={0: 'Features', 1: 'Count Missing', 2: 'Data Type'})

Missing Values by Columns:

                Features Count Missing Data Type
0            AcresBurned             3   float64
1                 Active             0      bool
2              AdminUnit             0    object
3             AirTankers          1608   float64
4            ArchiveYear             0     int64
5        CalFireIncident             0      bool
6           CanonicalUrl             0    object
7     ConditionStatement          1352    object
8       ControlStatement          1525    object
9               Counties             0    object
10             CountyIds             0    object
11         CrewsInvolved          1465   float64
12                Dozers          1513   float64
13               Engines          1445   float64
14          Extinguished            59    object
15            Fatalities          1615   float64
16              Featured             0      bool
17                 Final             0      bool
18              FuelType          1624    object
19           Helicopters          1552   float64
20              Injuries          1516   float64
21              Latitude             0   float64
22              Location             0    object
23             Longitude             0   float64
24         MajorIncident             0      bool
25                  Name             0    object
26      PercentContained             3   float64
27     PersonnelInvolved          1432   float64
28                Public             0      bool
29     SearchDescription            17    object
30        SearchKeywords           203    object
31               Started             0    object
32                Status             0    object
33     StructuresDamaged          1569   float64
34   StructuresDestroyed          1461   float64
35   StructuresEvacuated          1636   float64
36  StructuresThreatened          1606   float64
37              UniqueId             0    object
38               Updated             0    object
39          WaterTenders          1490   float64

### Datetime objects
From the review above, the main features of interest do not have any missing values. Therefore for this part of cleaning, we are set. We will have to convert the `Started` and `Updated` features into datetime objects because they currently appear as `str` objects

In [11]:
#converting into datetime objects
df_fires[['Started', 'Updated']] = df_fires[['Started', 'Updated']].apply(pd.to_datetime)
df_fires[['Started', 'Updated']].head(2)

                    Started                   Updated
0 2013-08-17 15:25:00+00:00 2013-09-06 18:30:00+00:00
1 2013-05-30 15:28:00+00:00 2013-06-08 18:30:00+00:00

Other than updating the time variables to be `datetime` objects that we can use for analysis in later stages, we will only be considering counties in the Bay Area for analysis. This would limit our exploration to Alameda, Contra Costa, Marin, Napa, San Francisco, San Mateo, Santa Clara, Solano, and Sonoma counties in California. From above, we seem to have all the counties recorded in the dataset.

In [19]:
bay_area = ['Alameda', 'Contra Costa', 'Marin', 'Napa', 'San Francisco', 'San Mateo', 'Santa Clara', 'Solano', 'Sonoma']
df_fires[df_fires['Counties'].isin(bay_area)]['Counties'].value_counts().sort_index()

Alameda         32
Contra Costa    27
Marin            6
Napa            25
San Mateo        3
Santa Clara     39
Solano          19
Sonoma          18
Name: Counties, dtype: int64

We have recorded incidents from all but San Francisco county. This may be by happenstance, but we can check it by reviewing against other data sources.

### Linkage to Other Data Sources
We have the variables `ArchiveYear`, `Started`, and `Updated` that are time indicators. We can use the last two and extract a date that can be used to connect to the travel and transportation (daily, annual, and quaterly) datasets for airports and AirBnB bookings, along with the air quality data that has incident dates recorded. 

Because wildfires themselves have far more severe localized effects on mobility and travel than wildfire-related air pollution, the ability to locate wildfires precisely and indicate them in our visualizations will be critical. On the other hand, a primary limitation of the dataset is that it does not cover 2020, which is widely regarded as the worst year on record for California wildfires. To gain more insight into the 2020 fire season, we may have to scrape data directly from the original source of this dataset ([CAL FIRE](https://www.fire.ca.gov/incidents/)).

From above where we didn't have incidents recorded for San Francisco county, a quick search did not reveal any events in the area. This is an example of when data scrapping might be more helpful to be sure we didn't miss anything.