# Airbnb Dataset
The **[Inside Airbnb](http://insideairbnb.com/about.html)** project provides data on Airbnb listings by location since 2015. The data is updated nearly every month with previous datasets archived but kept available for the public. For a determined location and date, three datasets are provided. The *listings* dataset contains detailed information on registered listings such as location (i.e. latitude and longitude), host information, price, availability in the next 30-365 days, and reviews ratings. The *reviews* dataset provides the date, reviewersâ€™ identification number, and the review text on all reviews for a specific listing. Finally, the *calendar* dataset provides data on availability of a listing by day as well as price and listing identification number. 

For our project, we are interested in compiling information from the *listings* and *calendar* datasets for the San Francisco Bay Area, which would include datasets on Oakland, San Francisco, San Mateo County, and Santa Clara County. For all months available, datasets for each of these locations were downloaded and a final dataset for data exploration was created. The current notebook guides the creation of the dataset step by step.

### Importing the data

First, we need to import all files downloaded from Inside Airbnb into the notebook. The files were organized by location and date, so the import follows the same order.

In [1]:
import pandas as pd
import glob

In [2]:
# Creating a list of files' names

Bay_Area_listings = glob.glob("**/*listings.csv")
Bay_Area_calendar = glob.glob("**/*calendar.csv")

In [3]:
# Reading the csv files

Bay_Area_listings_dfs = [pd.read_csv(file) for file in Bay_Area_listings]
Bay_Area_calendar_dfs = [pd.read_csv(file) for file in Bay_Area_calendar]

### *Listings* Datasets

The *listings* datasets contain the following columns: 

1. *id*: The unique identifier of the Airbnb listing
1. *name*: The name of the listing
2. *host_id*: A unique identifier of the Airbnb host
3. *host_name*: The host's name
4. *neighbourhood_group*: A blank column
5. *neighbourhood*: Name of the listing's neighbourhood
5. *latitude*: Latitude of the listing
6. *longitude*: Longitude of the listing
6. *room_type*: Type of room of the listing
7. *price*: Price for a day of the listing
8. *minimum_nights*: Minimum required nights for booking
9. *number_of_reviews*: The number of reviews the listing has
10. *last_review*: Date of the last review
11. *reviews_per_month*: Ratio of reviews/ month since the listing was added
12. *calculated_host_listings_count*: The amount of listings the host has in total
13. *availability_365*: The amount of days the listing is available for in the next 365 days

From the *listings* datasets, we are interested in the location of the Airbnb listing. 
To create a directory of the listings, we will create a dataset with the columns **id**, **latitude**, and **longitude**. Then, we will merge all *listings* datasets into one and remove duplicates.

In [4]:
# Removing columns from datasets 
for i in range(len(Bay_Area_listings_dfs)):
    Bay_Area_listings_dfs[i] = Bay_Area_listings_dfs[i].drop(columns = ['name', 'host_id', 'host_name', 'neighbourhood_group', 'neighbourhood', 'room_type', 'price', 'minimum_nights', 'number_of_reviews', 'last_review', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365'])

In [5]:
Bay_Area_listings_dfs[0].head()

        id   latitude   longitude
0  1789525  37.800801 -122.300892
1  6093412  37.805462 -122.285417
2  5421997  37.814515 -122.251765
3  5970720  37.809887 -122.258498
4  3878187  37.809335 -122.257051

In [6]:
# Merging datasets and removing duplicates 

Listings_directory = pd.concat(Bay_Area_listings_dfs, ignore_index=True).drop_duplicates()
Listings_directory.sort_values(['id']).head(10)

          id   latitude   longitude
409701   958  37.769266 -122.433588
556979   958  37.769310 -122.433860
265418   958  37.769310 -122.433856
262343  2822  37.728192 -122.397966
26543   3083  37.808320 -122.293000
855     3083  37.808323 -122.293002
26544   3264  37.835930 -122.261100
2688    3264  37.835931 -122.261096
265869  3850  37.754021 -122.458048
564257  3850  37.754020 -122.458050

In [7]:
# We still have id duplicates since either latitude or longitude values do not match
# So, we will take the average of the latitude and longitude values of each id and use that as the best aprox. to the real values
Final_Listings_directory = Listings_directory.groupby('id').mean()

Final_Listings_directory.sort_values(['id']).head(10)

       latitude   longitude
id
958   37.769295 -122.433768
2822  37.728192 -122.397966
3083  37.808322 -122.293001
3264  37.835930 -122.261098
3850  37.754021 -122.458049
4952  37.439721 -122.156722
5021  37.762976 -122.434161
5193  37.793339 -122.415912
5739  37.815032 -122.262122
5841  37.752496 -122.422588

------------

### *Calendar* Datasets

The *calendar* datasets contain the following columns:

1. listing_id: The unique identifier of the Airbnb listing. 
2. date: The date of interest
3. available: Availability of the listing for the specific date, in which *t* = available and *f* = not available.
4. price: Price of the listing.

Our goal with this dataset is to investigate the amount of bookings in the Bay Area across time.

First, it is important to note that the dates listed in this dataset refer to upcoming bookings and not past bookings. For example, the dataset that corresponds to the file 'Oakland_2020_Oct25_calendar.csv' contains availability of listings from October 26th, 2020 and on. Given the multiple files and dates, we will compile the availability of listings by date according to the most updated dataset.

For example, using the dataset Oakland_2020_May18_listings.csv, we will extract the availability of listings in Oakland from May 19th, 2020 until the starting date of the next dataset (i.e. Oakland_2020_Oct25_calendar.csv), which is October 25th, 2020.

In [8]:
# Adding Datetime format 
for i in range(len(Bay_Area_calendar_dfs)):
    Bay_Area_calendar_dfs[i]['Date'] = pd.to_datetime(Bay_Area_calendar_dfs[i]['date'])

In [9]:
# Removing not used column 
for i in range(len(Bay_Area_calendar_dfs)):
    Bay_Area_calendar_dfs[i] = Bay_Area_calendar_dfs[i].drop(columns = ['price', 'date'])

In [10]:
Bay_Area_calendar_dfs[0].head()

   listing_id available       Date
0     6093412         f 2015-07-08
1     6093412         f 2015-07-09
2     6093412         f 2015-07-10
3     6093412         f 2015-07-11
4     6093412         f 2015-07-12

In [11]:
# Pivoting dataframes
for i in range(len(Bay_Area_calendar_dfs)):
    Bay_Area_calendar_dfs[i] = Bay_Area_calendar_dfs[i].pivot(index='listing_id', columns='Date', values='available')

# Needs revision starting at df[58]

ValueError: Index contains duplicate entries, cannot reshape

In [12]:
for i in range(len(Bay_Area_calendar_dfs)):
    print([i], Bay_Area_calendar[i], 'Start:', Bay_Area_calendar_dfs[i].columns[0])
    print([i], Bay_Area_calendar[i], 'End:', Bay_Area_calendar_dfs[i].columns[-1])

[0] Oakland/Oakland_2015_Jun22_calendar.csv Start: 2015-06-29 00:00:00
[0] Oakland/Oakland_2015_Jun22_calendar.csv End: 2016-07-09 00:00:00
[1] Oakland/Oakland_2016_May04_calendar.csv Start: 2016-05-04 00:00:00
[1] Oakland/Oakland_2016_May04_calendar.csv End: 2017-05-03 00:00:00
[2] Oakland/Oakland_2018_Apr14_calendar.csv Start: 2018-04-14 00:00:00
[2] Oakland/Oakland_2018_Apr14_calendar.csv End: 2019-04-14 00:00:00
[3] Oakland/Oakland_2018_Aug16_calendar.csv Start: 2018-08-16 00:00:00
[3] Oakland/Oakland_2018_Aug16_calendar.csv End: 2019-08-15 00:00:00
[4] Oakland/Oakland_2018_Dec12_calendar.csv Start: 2018-12-12 00:00:00
[4] Oakland/Oakland_2018_Dec12_calendar.csv End: 2019-12-12 00:00:00
[5] Oakland/Oakland_2018_Jul16_calendar.csv Start: 2018-07-16 00:00:00
[5] Oakland/Oakland_2018_Jul16_calendar.csv End: 2019-07-15 00:00:00
[6] Oakland/Oakland_2018_May17_calendar.csv Start: 2018-05-17 00:00:00
[6] Oakland/Oakland_2018_May17_calendar.csv End: 2019-05-18 00:00:00
[7] Oakland/Oakland_2018_Nov15_calendar.csv Start: 2018-11-15 00:00:00
[7] Oakland/Oakland_2018_Nov15_calendar.csv End: 2019-11-14 00:00:00
[8] Oakland/Oakland_2018_Oct11_calendar.csv Start: 2018-10-11 00:00:00
[8] Oakland/Oakland_2018_Oct11_calendar.csv End: 2019-10-10 00:00:00
[9] Oakland/Oakland_2018_Sep13_calendar.csv Start: 2018-09-13 00:00:00
[9] Oakland/Oakland_2018_Sep13_calendar.csv End: 2019-09-12 00:00:00
[10] Oakland/Oakland_2019_Apr14_calendar.csv Start: 2019-04-14 00:00:00
[10] Oakland/Oakland_2019_Apr14_calendar.csv End: 2020-04-12 00:00:00
[11] Oakland/Oakland_2019_Aug14_calendar.csv Start: 2019-08-14 00:00:00
[11] Oakland/Oakland_2019_Aug14_calendar.csv End: 2020-08-12 00:00:00
[12] Oakland/Oakland_2019_Dec15_calendar.csv Start: 2019-12-15 00:00:00
[12] Oakland/Oakland_2019_Dec15_calendar.csv End: 2020-12-17 00:00:00
[13] Oakland/Oakland_2019_Feb09_calendar.csv Start: 2019-02-09 00:00:00
[13] Oakland/Oakland_2019_Feb09_calendar.csv End: 2020-02-08 00:00:00
[14] Oakland/Oakland_2019_Jan17_calendar.csv Start: 2019-01-17 00:00:00
[14] Oakland/Oakland_2019_Jan17_calendar.csv End: 2020-01-16 00:00:00
[15] Oakland/Oakland_2019_Jul13_calendar.csv Start: 2019-07-13 00:00:00
[15] Oakland/Oakland_2019_Jul13_calendar.csv End: 2020-07-11 00:00:00
[16] Oakland/Oakland_2019_Jun13_calendar.csv Start: 2019-06-13 00:00:00
[16] Oakland/Oakland_2019_Jun13_calendar.csv End: 2020-06-11 00:00:00
[17] Oakland/Oakland_2019_Mar11_calendar.csv Start: 2019-03-11 00:00:00
[17] Oakland/Oakland_2019_Mar11_calendar.csv End: 2020-03-09 00:00:00
[18] Oakland/Oakland_2019_May18_calendar.csv Start: 2019-05-18 00:00:00
[18] Oakland/Oakland_2019_May18_calendar.csv End: 2020-05-16 00:00:00
[19] Oakland/Oakland_2019_Nov19_calendar.csv Start: 2019-11-20 00:00:00
[19] Oakland/Oakland_2019_Nov19_calendar.csv End: 2020-11-18 00:00:00
[20] Oakland/Oakland_2019_Oct18_calendar.csv Start: 2019-10-18 00:00:00
[20] Oakland/Oakland_2019_Oct18_calendar.csv End: 2020-10-16 00:00:00
[21] Oakland/Oakland_2019_Sep20_calendar.csv Start: 2019-09-20 00:00:00
[21] Oakland/Oakland_2019_Sep20_calendar.csv End: 2020-09-18 00:00:00
[22] Oakland/Oakland_2020_Apr21_calendar.csv Start: 2020-04-21 00:00:00
[22] Oakland/Oakland_2020_Apr21_calendar.csv End: 2021-04-21 00:00:00
[23] Oakland/Oakland_2020_Feb22_calendar.csv Start: 2020-02-22 00:00:00
[23] Oakland/Oakland_2020_Feb22_calendar.csv End: 2021-02-20 00:00:00
[24] Oakland/Oakland_2020_Jan14_calendar.csv Start: 2020-01-14 00:00:00
[24] Oakland/Oakland_2020_Jan14_calendar.csv End: 2021-01-12 00:00:00
[25] Oakland/Oakland_2020_Jun17_calendar.csv Start: 2020-06-17 00:00:00
[25] Oakland/Oakland_2020_Jun17_calendar.csv End: 2021-06-18 00:00:00
[26] Oakland/Oakland_2020_Mar17_calendar.csv Start: 2020-03-17 00:00:00
[26] Oakland/Oakland_2020_Mar17_calendar.csv End: 2021-03-17 00:00:00
[27] Oakland/Oakland_2020_May18_calendar.csv Start: 2020-05-18 00:00:00
[27] Oakland/Oakland_2020_May18_calendar.csv End: 2021-05-24 00:00:00
[28] Oakland/Oakland_2020_Oct25_calendar.csv Start: 2020-10-25 00:00:00
[28] Oakland/Oakland_2020_Oct25_calendar.csv End: 2021-10-24 00:00:00
[29] San_Clara/Santa_Clara_2018_Aug14_calendar.csv Start: 2018-08-14 00:00:00
[29] San_Clara/Santa_Clara_2018_Aug14_calendar.csv End: 2019-08-13 00:00:00
[30] San_Clara/Santa_Clara_2018_Dec08_calendar.csv Start: 2018-12-08 00:00:00
[30] San_Clara/Santa_Clara_2018_Dec08_calendar.csv End: 2019-12-07 00:00:00
[31] San_Clara/Santa_Clara_2018_Jul07_calendar.csv Start: 2018-07-07 00:00:00
[31] San_Clara/Santa_Clara_2018_Jul07_calendar.csv End: 2019-07-08 00:00:00
[32] San_Clara/Santa_Clara_2018_Nov17_calendar.csv Start: 2018-11-17 00:00:00
[32] San_Clara/Santa_Clara_2018_Nov17_calendar.csv End: 2019-11-25 00:00:00
[33] San_Clara/Santa_Clara_2018_Oct18_calendar.csv Start: 2018-10-18 00:00:00
[33] San_Clara/Santa_Clara_2018_Oct18_calendar.csv End: 2019-10-19 00:00:00
[34] San_Clara/Santa_Clara_2018_Sep10_calendar.csv Start: 2018-09-10 00:00:00
[34] San_Clara/Santa_Clara_2018_Sep10_calendar.csv End: 2019-09-09 00:00:00
[35] San_Clara/Santa_Clara_2019_Apr09_calendar.csv Start: 2019-04-09 00:00:00
[35] San_Clara/Santa_Clara_2019_Apr09_calendar.csv End: 2020-04-07 00:00:00
[36] San_Clara/Santa_Clara_2019_Aug17_calendar.csv Start: 2019-08-17 00:00:00
[36] San_Clara/Santa_Clara_2019_Aug17_calendar.csv End: 2020-08-15 00:00:00
[37] San_Clara/Santa_Clara_2019_Dec09_calendar.csv Start: 2019-12-09 00:00:00
[37] San_Clara/Santa_Clara_2019_Dec09_calendar.csv End: 2020-12-07 00:00:00
[38] San_Clara/Santa_Clara_2019_Feb05_calendar.csv Start: 2019-02-05 00:00:00
[38] San_Clara/Santa_Clara_2019_Feb05_calendar.csv End: 2020-02-04 00:00:00
[39] San_Clara/Santa_Clara_2019_Jan14_calendar.csv Start: 2019-01-14 00:00:00
[39] San_Clara/Santa_Clara_2019_Jan14_calendar.csv End: 2020-01-13 00:00:00
[40] San_Clara/Santa_Clara_2019_Jul09_calendar.csv Start: 2019-07-09 00:00:00
[40] San_Clara/Santa_Clara_2019_Jul09_calendar.csv End: 2020-07-07 00:00:00
[41] San_Clara/Santa_Clara_2019_Jun06_calendar.csv Start: 2019-06-06 00:00:00
[41] San_Clara/Santa_Clara_2019_Jun06_calendar.csv End: 2020-06-05 00:00:00
[42] San_Clara/Santa_Clara_2019_Mar07_calendar.csv Start: 2019-03-07 00:00:00
[42] San_Clara/Santa_Clara_2019_Mar07_calendar.csv End: 2020-03-05 00:00:00
[43] San_Clara/Santa_Clara_2019_May13_calendar.csv Start: 2019-05-13 00:00:00
[43] San_Clara/Santa_Clara_2019_May13_calendar.csv End: 2020-05-11 00:00:00
[44] San_Clara/Santa_Clara_2019_Nov07_calendar.csv Start: 2019-11-07 00:00:00
[44] San_Clara/Santa_Clara_2019_Nov07_calendar.csv End: 2020-11-06 00:00:00
[45] San_Clara/Santa_Clara_2019_Oct15_calendar.csv Start: 2019-10-15 00:00:00
[45] San_Clara/Santa_Clara_2019_Oct15_calendar.csv End: 2020-10-13 00:00:00
[46] San_Clara/Santa_Clara_2019_Sep16_calendar.csv Start: 2019-09-16 00:00:00
[46] San_Clara/Santa_Clara_2019_Sep16_calendar.csv End: 2020-09-15 00:00:00
[47] San_Clara/Santa_Clara_2020_Apr22_calendar.csv Start: 2020-04-22 00:00:00
[47] San_Clara/Santa_Clara_2020_Apr22_calendar.csv End: 2021-04-22 00:00:00
[48] San_Clara/Santa_Clara_2020_Feb16_calendar.csv Start: 2020-02-16 00:00:00
[48] San_Clara/Santa_Clara_2020_Feb16_calendar.csv End: 2021-02-14 00:00:00
[49] San_Clara/Santa_Clara_2020_Jan09_calendar.csv Start: 2020-01-09 00:00:00
[49] San_Clara/Santa_Clara_2020_Jan09_calendar.csv End: 2021-01-08 00:00:00
[50] San_Clara/Santa_Clara_2020_Jun12_calendar.csv Start: 2020-06-12 00:00:00
[50] San_Clara/Santa_Clara_2020_Jun12_calendar.csv End: 2021-06-13 00:00:00
[51] San_Clara/Santa_Clara_2020_Mar17_calendar.csv Start: 2020-03-17 00:00:00
[51] San_Clara/Santa_Clara_2020_Mar17_calendar.csv End: 2021-03-18 00:00:00
[52] San_Clara/Santa_Clara_2020_May30_calendar.csv Start: 2020-05-30 00:00:00
[52] San_Clara/Santa_Clara_2020_May30_calendar.csv End: 2021-05-30 00:00:00
[53] San_Clara/Santa_Clara_2020_Oct25_calendar.csv Start: 2020-10-25 00:00:00
[53] San_Clara/Santa_Clara_2020_Oct25_calendar.csv End: 2021-10-24 00:00:00
[54] San_Francisco/San_Francisco_2015_Dec02_calendar.csv Start: 2015-12-01 00:00:00
[54] San_Francisco/San_Francisco_2015_Dec02_calendar.csv End: 2016-11-30 00:00:00
[55] San_Francisco/San_Francisco_2015_May04_calendar.csv Start: 2015-05-04 00:00:00
[55] San_Francisco/San_Francisco_2015_May04_calendar.csv End: 2016-05-03 00:00:00
[56] San_Francisco/San_Francisco_2015_Nov01_calendar.csv Start: 2015-11-01 00:00:00
[56] San_Francisco/San_Francisco_2015_Nov01_calendar.csv End: 2016-10-30 00:00:00
[57] San_Francisco/San_Francisco_2015_Sep02_calendar.csv Start: 2015-09-01 00:00:00
[57] San_Francisco/San_Francisco_2015_Sep02_calendar.csv End: 2016-08-31 00:00:00
[58] San_Francisco/San_Francisco_2016_Apr03_calendar.csv Start: listing_id
[58] San_Francisco/San_Francisco_2016_Apr03_calendar.csv End: Date
[59] San_Francisco/San_Francisco_2016_Aug02_calendar.csv Start: listing_id
[59] San_Francisco/San_Francisco_2016_Aug02_calendar.csv End: Date
[60] San_Francisco/San_Francisco_2016_Dec03_calendar.csv Start: listing_id
[60] San_Francisco/San_Francisco_2016_Dec03_calendar.csv End: Date
[61] San_Francisco/San_Francisco_2016_Feb02_calendar.csv Start: listing_id
[61] San_Francisco/San_Francisco_2016_Feb02_calendar.csv End: Date
[62] San_Francisco/San_Francisco_2016_Jul02_calendar.csv Start: listing_id
[62] San_Francisco/San_Francisco_2016_Jul02_calendar.csv End: Date
[63] San_Francisco/San_Francisco_2016_Jun02_calendar.csv Start: listing_id
[63] San_Francisco/San_Francisco_2016_Jun02_calendar.csv End: Date
[64] San_Francisco/San_Francisco_2016_May02_calendar.csv Start: listing_id
[64] San_Francisco/San_Francisco_2016_May02_calendar.csv End: Date
[65] San_Francisco/San_Francisco_2016_Nov02_calendar.csv Start: listing_id
[65] San_Francisco/San_Francisco_2016_Nov02_calendar.csv End: Date
[66] San_Francisco/San_Francisco_2016_Oct01_calendar.csv Start: listing_id
[66] San_Francisco/San_Francisco_2016_Oct01_calendar.csv End: Date
[67] San_Francisco/San_Francisco_2016_Sep02_calendar.csv Start: listing_id
[67] San_Francisco/San_Francisco_2016_Sep02_calendar.csv End: Date
[68] San_Francisco/San_Francisco_2017_Apr02_calendar.csv Start: listing_id
[68] San_Francisco/San_Francisco_2017_Apr02_calendar.csv End: Date
[69] San_Francisco/San_Francisco_2017_Aug02_calendar.csv Start: listing_id
[69] San_Francisco/San_Francisco_2017_Aug02_calendar.csv End: Date
[70] San_Francisco/San_Francisco_2017_Dec02_calendar.csv Start: listing_id
[70] San_Francisco/San_Francisco_2017_Dec02_calendar.csv End: Date
[71] San_Francisco/San_Francisco_2017_Dec07_calendar.csv Start: listing_id
[71] San_Francisco/San_Francisco_2017_Dec07_calendar.csv End: Date
[72] San_Francisco/San_Francisco_2017_Feb02_calendar.csv Start: listing_id
[72] San_Francisco/San_Francisco_2017_Feb02_calendar.csv End: Date
[73] San_Francisco/San_Francisco_2017_Jan01_calendar.csv Start: listing_id
[73] San_Francisco/San_Francisco_2017_Jan01_calendar.csv End: Date
[74] San_Francisco/San_Francisco_2017_Jul02_calendar.csv Start: listing_id
[74] San_Francisco/San_Francisco_2017_Jul02_calendar.csv End: Date
[75] San_Francisco/San_Francisco_2017_Jun02_calendar.csv Start: listing_id
[75] San_Francisco/San_Francisco_2017_Jun02_calendar.csv End: Date
[76] San_Francisco/San_Francisco_2017_Mar02_calendar.csv Start: listing_id
[76] San_Francisco/San_Francisco_2017_Mar02_calendar.csv End: Date
[77] San_Francisco/San_Francisco_2017_May02_calendar.csv Start: listing_id
[77] San_Francisco/San_Francisco_2017_May02_calendar.csv End: Date
[78] San_Francisco/San_Francisco_2017_Nov01_calendar.csv Start: listing_id
[78] San_Francisco/San_Francisco_2017_Nov01_calendar.csv End: Date
[79] San_Francisco/San_Francisco_2017_Nov08_calendar.csv Start: listing_id
[79] San_Francisco/San_Francisco_2017_Nov08_calendar.csv End: Date
[80] San_Francisco/San_Francisco_2017_Oct02_calendar.csv Start: listing_id
[80] San_Francisco/San_Francisco_2017_Oct02_calendar.csv End: Date
[81] San_Francisco/San_Francisco_2017_Sep02_calendar.csv Start: listing_id
[81] San_Francisco/San_Francisco_2017_Sep02_calendar.csv End: Date
[82] San_Francisco/San_Francisco_2018_Apr06_calendar.csv Start: listing_id
[82] San_Francisco/San_Francisco_2018_Apr06_calendar.csv End: Date
[83] San_Francisco/San_Francisco_2018_Aug06_calendar.csv Start: listing_id
[83] San_Francisco/San_Francisco_2018_Aug06_calendar.csv End: Date
[84] San_Francisco/San_Francisco_2018_Dec06_calendar.csv Start: listing_id
[84] San_Francisco/San_Francisco_2018_Dec06_calendar.csv End: Date
[85] San_Francisco/San_Francisco_2018_Feb02_calendar.csv Start: listing_id
[85] San_Francisco/San_Francisco_2018_Feb02_calendar.csv End: Date
[86] San_Francisco/San_Francisco_2018_Jan10_calendar.csv Start: listing_id
[86] San_Francisco/San_Francisco_2018_Jan10_calendar.csv End: Date
[87] San_Francisco/San_Francisco_2018_Jan17_calendar.csv Start: listing_id
[87] San_Francisco/San_Francisco_2018_Jan17_calendar.csv End: Date
[88] San_Francisco/San_Francisco_2018_Jul05_calendar.csv Start: listing_id
[88] San_Francisco/San_Francisco_2018_Jul05_calendar.csv End: Date
[89] San_Francisco/San_Francisco_2018_Mar04_calendar.csv Start: listing_id
[89] San_Francisco/San_Francisco_2018_Mar04_calendar.csv End: Date
[90] San_Francisco/San_Francisco_2018_May09_calendar.csv Start: listing_id
[90] San_Francisco/San_Francisco_2018_May09_calendar.csv End: Date
[91] San_Francisco/San_Francisco_2018_Nov03_calendar.csv Start: listing_id
[91] San_Francisco/San_Francisco_2018_Nov03_calendar.csv End: Date
[92] San_Francisco/San_Francisco_2018_Oct03_calendar.csv Start: listing_id
[92] San_Francisco/San_Francisco_2018_Oct03_calendar.csv End: Date
[93] San_Francisco/San_Francisco_2018_Sep08_calendar.csv Start: listing_id
[93] San_Francisco/San_Francisco_2018_Sep08_calendar.csv End: Date
[94] San_Francisco/San_Francisco_2019_Apr03_calendar.csv Start: listing_id
[94] San_Francisco/San_Francisco_2019_Apr03_calendar.csv End: Date
[95] San_Francisco/San_Francisco_2019_Aug06_calendar.csv Start: listing_id
[95] San_Francisco/San_Francisco_2019_Aug06_calendar.csv End: Date
[96] San_Francisco/San_Francisco_2019_Dec04_calendar.csv Start: listing_id
[96] San_Francisco/San_Francisco_2019_Dec04_calendar.csv End: Date
[97] San_Francisco/San_Francisco_2019_Feb01_calendar.csv Start: listing_id
[97] San_Francisco/San_Francisco_2019_Feb01_calendar.csv End: Date
[98] San_Francisco/San_Francisco_2019_Jan09_calendar.csv Start: listing_id
[98] San_Francisco/San_Francisco_2019_Jan09_calendar.csv End: Date
[99] San_Francisco/San_Francisco_2019_Jul08_calendar.csv Start: listing_id
[99] San_Francisco/San_Francisco_2019_Jul08_calendar.csv End: Date
[100] San_Francisco/San_Francisco_2019_Jun02_calendar.csv Start: listing_id
[100] San_Francisco/San_Francisco_2019_Jun02_calendar.csv End: Date
[101] San_Francisco/San_Francisco_2019_Mar06_calendar.csv Start: listing_id
[101] San_Francisco/San_Francisco_2019_Mar06_calendar.csv End: Date
[102] San_Francisco/San_Francisco_2019_May03_calendar.csv Start: listing_id
[102] San_Francisco/San_Francisco_2019_May03_calendar.csv End: Date
[103] San_Francisco/San_Francisco_2019_Nov01_calendar.csv Start: listing_id
[103] San_Francisco/San_Francisco_2019_Nov01_calendar.csv End: Date
[104] San_Francisco/San_Francisco_2019_Oct14_calendar.csv Start: listing_id
[104] San_Francisco/San_Francisco_2019_Oct14_calendar.csv End: Date
[105] San_Francisco/San_Francisco_2019_Sep12_calendar.csv Start: listing_id
[105] San_Francisco/San_Francisco_2019_Sep12_calendar.csv End: Date
[106] San_Francisco/San_Francisco_2020_Apr07_calendar.csv Start: listing_id
[106] San_Francisco/San_Francisco_2020_Apr07_calendar.csv End: Date
[107] San_Francisco/San_Francisco_2020_Aug15_calendar.csv Start: listing_id
[107] San_Francisco/San_Francisco_2020_Aug15_calendar.csv End: Date
[108] San_Francisco/San_Francisco_2020_Feb12_calendar.csv Start: listing_id
[108] San_Francisco/San_Francisco_2020_Feb12_calendar.csv End: Date
[109] San_Francisco/San_Francisco_2020_Jan04_calendar.csv Start: listing_id
[109] San_Francisco/San_Francisco_2020_Jan04_calendar.csv End: Date
[110] San_Francisco/San_Francisco_2020_Jul07_calendar.csv Start: listing_id
[110] San_Francisco/San_Francisco_2020_Jul07_calendar.csv End: Date
[111] San_Francisco/San_Francisco_2020_Jun08_calendar.csv Start: listing_id
[111] San_Francisco/San_Francisco_2020_Jun08_calendar.csv End: Date
[112] San_Francisco/San_Francisco_2020_Mar13_calendar.csv Start: listing_id
[112] San_Francisco/San_Francisco_2020_Mar13_calendar.csv End: Date
[113] San_Francisco/San_Francisco_2020_May06_calendar.csv Start: listing_id
[113] San_Francisco/San_Francisco_2020_May06_calendar.csv End: Date
[114] San_Francisco/San_Francisco_2020_Oct05_calendar.csv Start: listing_id
[114] San_Francisco/San_Francisco_2020_Oct05_calendar.csv End: Date
[115] San_Francisco/San_Francisco_2020_Sep07_calendar.csv Start: listing_id
[115] San_Francisco/San_Francisco_2020_Sep07_calendar.csv End: Date
[116] San_Mateo/San_Mateo_2019_Jun05_calendar.csv Start: listing_id
[116] San_Mateo/San_Mateo_2019_Jun05_calendar.csv End: Date
[117] San_Mateo/San_Mateo_2020_July15_calendar.csv Start: listing_id
[117] San_Mateo/San_Mateo_2020_July15_calendar.csv End: Date
[118] San_Mateo/San_Mateo_2020_Jun15_calendar.csv Start: listing_id
[118] San_Mateo/San_Mateo_2020_Jun15_calendar.csv End: Date
[119] San_Mateo/San_Mateo_2020_Oct25_calendar.csv Start: listing_id
[119] San_Mateo/San_Mateo_2020_Oct25_calendar.csv End: Date

In [13]:
# Downloaded datasets varied by location and dates, so need to first concat by location then create final dataset
# Creating final datasets by city 
Bay_Area_bookings_Oakland = pd.concat([Bay_Area_calendar_dfs[0].loc[:, :'2016-05-04 00:00:00'],Bay_Area_calendar_dfs[1].loc[:, :'2017-05-03 00:00:00'],Bay_Area_calendar_dfs[2].loc[:, :'2018-05-17 00:00:00'],Bay_Area_calendar_dfs[6].loc[:, :'2018-07-16 00:00:00'],Bay_Area_calendar_dfs[5].loc[:, :'2018-08-16 00:00:00'],Bay_Area_calendar_dfs[3].loc[:, :'2018-09-13 00:00:00'],Bay_Area_calendar_dfs[9].loc[:, :'2018-10-11 00:00:00'],Bay_Area_calendar_dfs[8].loc[:, :'2018-11-15 00:00:00'],Bay_Area_calendar_dfs[7].loc[:, :'2018-12-12 00:00:00'],Bay_Area_calendar_dfs[4].loc[:, :'2019-01-17 00:00:00'],Bay_Area_calendar_dfs[14].loc[:, :'2019-02-09 00:00:00'],Bay_Area_calendar_dfs[13].loc[:, :'2019-03-11 00:00:00'],Bay_Area_calendar_dfs[17].loc[:, :'2019-04-14 00:00:00'],Bay_Area_calendar_dfs[10].loc[:, :'2019-05-18 00:00:00'],Bay_Area_calendar_dfs[18].loc[:, :'2019-06-13 00:00:00'],Bay_Area_calendar_dfs[16].loc[:, :'2019-07-13 00:00:00'],Bay_Area_calendar_dfs[15].loc[:, :'2019-08-14 00:00:00'],Bay_Area_calendar_dfs[11].loc[:, :'2019-09-20 00:00:00'],Bay_Area_calendar_dfs[21].loc[:, :'2019-10-18 00:00:00'],Bay_Area_calendar_dfs[20].loc[:, :'2019-11-20 00:00:00'],Bay_Area_calendar_dfs[19].loc[:, :'2019-12-15 00:00:00'],Bay_Area_calendar_dfs[12].loc[:, :'2020-01-14 00:00:00'],Bay_Area_calendar_dfs[24].loc[:, :'2020-02-22 00:00:00'],Bay_Area_calendar_dfs[23].loc[:, :'2020-03-17 00:00:00'],Bay_Area_calendar_dfs[26].loc[:, :'2020-04-21 00:00:00'],Bay_Area_calendar_dfs[22].loc[:, :'2020-05-18 00:00:00'],Bay_Area_calendar_dfs[27].loc[:, :'2020-06-17 00:00:00'],Bay_Area_calendar_dfs[25].loc[:, :'2020-10-25 00:00:00']], axis=1, sort=False)

#Not yet run
#Bay_Area_bookings_San_Francisco = pd.concat([]], axis=1, sort=False)
#Bay_Area_bookings_San_Clara = pd.concat([]], axis=1, sort=False)
#Bay_Area_bookings_San_Mateo = pd.concat([]], axis=1, sort=False)

In [14]:
Bay_Area_bookings_Oakland.sort_values(['listing_id']).head()

Date,2015-06-29 00:00:00,2015-06-30 00:00:00,2015-07-01 00:00:00,2015-07-02 00:00:00,2015-07-03 00:00:00,2015-07-04 00:00:00,2015-07-05 00:00:00,2015-07-06 00:00:00,2015-07-07 00:00:00,2015-07-08 00:00:00,...,2020-10-16 00:00:00,2020-10-17 00:00:00,2020-10-18 00:00:00,2020-10-19 00:00:00,2020-10-20 00:00:00,2020-10-21 00:00:00,2020-10-22 00:00:00,2020-10-23 00:00:00,2020-10-24 00:00:00,2020-10-25 00:00:00
listing_id,,,,,,,,,,,,,,,,,,,,,
3083,f,f,f,f,f,f,f,f,f,f,...,t,t,t,t,t,t,t,t,t,t
3264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5739,f,f,f,t,t,t,f,f,f,f,...,f,f,f,f,f,f,f,f,f,f
6201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
Bay_Area_bookings_Oakland.apply(pd.value_counts)

Date,2015-06-29 00:00:00,2015-06-30 00:00:00,2015-07-01 00:00:00,2015-07-02 00:00:00,2015-07-03 00:00:00,2015-07-04 00:00:00,2015-07-05 00:00:00,2015-07-06 00:00:00,2015-07-07 00:00:00,2015-07-08 00:00:00,...,2020-10-16 00:00:00,2020-10-17 00:00:00,2020-10-18 00:00:00,2020-10-19 00:00:00,2020-10-20 00:00:00,2020-10-21 00:00:00,2020-10-22 00:00:00,2020-10-23 00:00:00,2020-10-24 00:00:00,2020-10-25 00:00:00
f,24,77,132,198,287,375,445,521,607,665,...,1960,1960,1956,1962,1964,1962,1967,1963,1957,1956
t,4,14,44,57,52,75,123,153,166,169,...,1244,1244,1248,1242,1240,1242,1237,1241,1247,1248